<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLiLopHoc.Properties.Settings.QLKHConnectionString"
            connectionString="Data Source=KOSH1JO;Initial Catalog=QLKH;Persist Security Info=True;User ID=Ackerman;Password=anhtuan2k2"
            providerName="System.Data.SqlClient" />
        <add name="QuanLiLopHoc.Properties.Settings.QLKHConnectionString1"
            connectionString="Data Source=KOSH1JO;Initial Catalog=QLKH;Persist Security Info=True;User ID=Ackerman;Password=anhtuan123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>